<a href="https://colab.research.google.com/github/giovanebmr/Analise-de-Dados/blob/main/Tratando_dados_em_branco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tratando dados em branco**

NaN ( Not a Number / Não é um número )

In [23]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [24]:
#Definindo um valor em branco
em_branco = np.nan

em_branco

nan

# **Encontrando os valores em branco**

In [25]:
serie = Series(['linha 1','linha 2', em_branco, 'linha 4', 'linha 5', 'linha 6', em_branco, 'linha 8'])

serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

In [26]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

# **Preenchendo valores em branco**

In [27]:
np.random.seed(25)

df = DataFrame( np.random.rand(36).reshape((6,6)) )

df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [30]:
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco

df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

# **Preenchendo os valores ausentes com zero**

In [31]:
df_preenchido = df.fillna(0)

df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

# **Preenchendo valores ausentes especificando a coluna**

In [32]:
dicionario = {0:0.1 , 5:1.25}
df_preenchido = df.fillna(dicionario)

df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  1.250000
2  0.447031  0.585445  0.161985  0.520719  0.326051  1.250000
3  0.100000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.100000  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

# **Preenchendo dados ausentes nas colunas 0 e 5, com seu rescpetivo valor médio**

In [40]:
dicionario_media_colunas = { 0:df.loc[0:5,0].mean() , 5:df.loc[0:5,5].mean() }

df_preenchido_medio = df.fillna( dicionario_media_colunas )

df_preenchido_medio

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.321597
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.321597
3  0.667375  0.836375  0.481343  0.516502  0.383048  0.321597
4  0.667375  0.559053  0.034450  0.719930  0.421004  0.321597
5  0.667375  0.900274  0.669612  0.456069  0.289804  0.525819